<div class="onchain-metrics-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Volume</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ chainReport?.onchainMetrics?.transactionVolume | number }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Active Addresses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ chainReport?.onchainMetrics?.activeAddresses | number }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>New Addresses (24h)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ chainReport?.onchainMetrics?.newAddresses | number }}</p>
    </mat-card-content>
  </mat-card>
</div>
