.onchain-metrics-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;

  mat-card {
    flex: 1 1 calc(33% - 20px);
    min-width: 280px;
    box-sizing: border-box;
  }
}
