<mat-card>
  <mat-card-content>
    <form [formGroup]="tokenForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Token Name, Symbol, or Address</mat-label>
        <input matInput formControlName="token" placeholder="e.g., Ethereum, ETH, 0x...">
            <mat-error *ngIf="tokenInput?.hasError('required') && (tokenInput?.touched || tokenInput?.dirty)">
                Token input is required.
            </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="tokenForm.invalid || loading">
        <span *ngIf="!loading">Generate Report</span>
        <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
      </button>
      <button mat-raised-button color="accent" type="button" (click)="onRetryReport()" *ngIf="reportStatus === ReportStatus.ERROR && !loading">
        Retry
      </button>
    </form>
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
  </mat-card-content>
</mat-card>

<app-report-status *ngIf="loading || success || error" [reportStatus]="reportStatus"></app-report-status>
