<div class="report-status" *ngIf="(reportStatus$ | async) as status" [ngClass]="status">
  <p>Report Status: {{ getReportStatusLabel(status) }}</p>
  <ng-container [ngSwitch]="status">
    <span *ngSwitchCase="ReportStatus.IDLE">
      <mat-icon>watch_later</mat-icon> Idle
    </span>
    <span *ngSwitchCase="ReportStatus.GENERATING">
      <mat-icon>hourglass_empty</mat-icon> Generating Report...
    </span>
    <span *ngSwitchCase="ReportStatus.SUCCESS">
      <mat-icon>check_circle</mat-icon> Report Generated Successfully!
    </span>
    <span *ngSwitchCase="ReportStatus.ERROR">
      <mat-icon>error</mat-icon> Error Generating Report.
    </span>
  </ng-container>
</div>

<div class="report-status-container">
  <div class="status-message">
    <ng-container [ngSwitch]="reportStatus">
      <ng-container *ngSwitchCase="ReportStatus.IDLE">
        <mat-icon>info</mat-icon>
        <span>Enter a token to generate a report.</span>
      </ng-container>
      <ng-container *ngSwitchCase="ReportStatus.GENERATING">
        <mat-icon>hourglass_empty</mat-icon>
        <span>Generating report... Please wait.</span>
      </ng-container>
      <ng-container *ngSwitchCase="ReportStatus.SUCCESS">
        <mat-icon class="success-icon">check_circle</mat-icon>
        <span>Report generated successfully! Redirecting...</span>
      </ng-container>
      <ng-container *ngSwitchCase="ReportStatus.ERROR">
        <mat-icon class="error-icon">error</mat-icon>
        <span *ngIf="errorMessage">Error: {{ errorMessage }}</span>
        <span *ngIf="!errorMessage">An unknown error occurred.</span>
      </ng-container>
    </ng-container>
  </div>
</div>