<div class="report-status" *ngIf="(reportStatus$ | async) as status" [ngClass]="status">
  <p>Report Status: {{ status }}</p>
  <ng-container [ngSwitch]="status">
    <span *ngSwitchCase="ReportStatus.Idle">
      <mat-icon>watch_later</mat-icon> Idle
    </span>
    <span *ngSwitchCase="ReportStatus.Generating">
      <mat-icon>hourglass_empty</mat-icon> Generating Report...
    </span>
    <span *ngSwitchCase="ReportStatus.Generated">
      <mat-icon>check_circle</mat-icon> Report Generated Successfully!
    </span>
    <span *ngSwitchCase="ReportStatus.Error">
      <mat-icon>error</mat-icon> Error Generating Report.
    </span>
  </ng-container>
</div>