@use '@angular/material' as mat;

$primary-color: mat.get-color-from-palette(mat.$blue-grey-palette, 700);

// Define a custom typography configuration
$custom-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline-5: mat.define-typography-level(24px, 32px, 500),
  $headline-6: mat.define-typography-level(20px, 32px, 500),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
);

// Define a custom color palette
$lumintel-primary: mat.define-palette(mat.$blue-grey-palette, 700, 500, 900);
$lumintel-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$lumintel-warn: mat.define-palette(mat.$red-palette);

// Define custom CSS variables for colors
:root {
  --color-warning: #CC8400; /* Darker amber for WCAG-AA compliance with black text */
  --color-surface-2: #f5f5f5; /* A light grey for secondary surfaces */
  --border-radius: 8px; /* Standard border radius */
  --shadow-elevation-1: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

// Create the theme object
$lumintel-theme: mat.define-light-theme((
  color: (
    primary: $lumintel-primary,
    accent: $lumintel-accent,
    warn: $lumintel-warn,
  ),
  typography: $custom-typography,
));

// Emit theme styles
@include mat.all-component-themes($lumintel-theme);
@include mat.typography-hierarchy($lumintel-theme);