footer {
  background-color: #f0f0f0;
  padding: 15px 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  color: #555;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-content {
    margin-bottom: 10px;
  }

  p {
    margin: 3px 0;
  }

  .footer-links {
    a {
      color: #007bff;
      text-decoration: none;
      margin: 0 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}